.typo3-topbar-container {
    background: repeating-linear-gradient(
            45deg,
            #444,
            #444 10px,
            #222 10px,
            #222 20px
    );
}

.typo3-topbar-site-name {
    text-shadow: 1px 1px #000;
}
